<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>ADMINISTRADOR</h1>
    </header>

    <div>
      <label for=""><b>CONTROLADOR</b></label>
      <nav>
        <ul>
          <li>
            <a href="../vuelos/vuelos.html">Vuelos</a>
          </li>
          <li>
            <a href="../hoteles/hoteles.html">Hoteles</a>
          </li>
          <li>
            <a href="../usuarios/usuarios.html">Usuarios</a>
          </li>
        </ul>
      </nav>
    </div>

    <div>
      <form action="">
        <table>
          <thead>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
          </thead>

          <tbody id="items-row"></tbody>
        </table>
      </form>
    </div>
    <a href="../../../../../controller/admin/api/usuarios.php">a</a>
    <script type="module" src="usuarios.js"></script>
  </body>
</html>
