<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vuelos</title>
  </head>
  <body>
    <header>
      <h1>ADMINISTRADOR</h1>
    </header>

    <div>
      <label for=""><b>CONTROLADOR</b></label>
      <nav>
        <ul>
          <li>
            <a href="../home/home.html">Inicio</a>
          </li>
          <li>
            <a href="../hoteles/hoteles.html">Hoteles</a>
          </li>
          <li>
            <a href="../usuarios/usuarios.html">Usuarios</a>
          </li>
        </ul>
      </nav>
    </div>

    <div>
      <h2>VUELOS</h2>
      <form id="formVuelos">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Destino</th>
              <th>Precio</th>
              <th>Voletos</th>
              <th>Horarios</th>
              <th>Crear</th>
              <th>Actualizar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr></tr>
          </tbody>
        </table>
      </form>
    </div>

    <script
      type="module"
      src="../../../../js/src/admin/vuelos/vuelos.js"
    ></script>
  </body>
</html>
