<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestor de vuelos</title>
  </head>
  <body>
    <header>
      <div id="items-container"></div>
      <h1>Bienvenido (Usuario)</h1>

      <form action="" id="">
        <table>
          <tr>
            <td>
              <input type="search" name="buscador" id="buscador" />
            </td>
            <td>
              <button>Buscar</button>
            </td>
          </tr>
        </table>
      </form>

      <nav id="navBarMenu">
        <option value="">Inicio</option>
        <option value="">Vuelos</option>
        <option value="">Hoteles</option>
        <option value="">Perfil</option>
      </nav>
    </header>

    <div>
      <section>
        <a href="">
          <img src="" alt="" />
          <label for="">Disfruta de estos descuentos</label>
        </a>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum nam
          iusto harum nobis delectus necessitatibus rerum atque quos itaque
          laboriosam, ratione ut odit eveniet, quo tempora omnis quia magnam
          eaque.
        </p>
      </section>
    </div>

    <script type="module" src="../../../../js/src/user/home/home.js"></script>
  </body>
</html>
