<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hoteles</title>
  </head>
  <body>
    <header>
      <h1>ADMINISTRADOR</h1>
    </header>

    <div>
      <label for=""><b>CONTROLADOR</b></label>
      <nav>
        <ul>
          <li>
            <a href="../home/home.html">Inicio</a>
          </li>
          <li>
            <a href="../vuelos/vuelos.html">Vuelos</a>
          </li>
          <li>
            <a href="../usuarios/usuarios.html">Usuarios</a>
          </li>
        </ul>
      </nav>
    </div>

    <div>
      <h2>HOTELES</h2>
      <form id="formHoteles">
        <table>
          <tbody>
            <tr></tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
