<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
  </head>
  <body>
    <header>
      <h1>ADMINISTRADOR</h1>
    </header>

    <div>
      <label for=""><b>CONTROLADOR</b></label>
      <nav>
        <ul>
          <li>
            <a href="../vuelos/vuelos.html">Vuelos</a>
          </li>
          <li>
            <a href="../hoteles/hoteles.html">Hoteles</a>
          </li>
          <li>
            <a href="../usuarios/usuarios.html">Usuarios</a>
          </li>
        </ul>
      </nav>
    </div>

    <div>
      <h2>OPCIONES</h2>
      <select id="">
        <option value="Tipos">Tipos:</option>
        <option value="Vuelos">Vuelos</option>
        <option value="Hoteles">Hoteles</option>
        <option value="Usuarios">Usuarios</option>
      </select>
    </div>
  </body>
</html>
