<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <div>
      <header>
        <h1>Vamos a viajar</h1>
        <nav>
          <ul>
            <li><a href="./index.html">Home</a></li>
          </ul>
        </nav>
      </header>
    </div>

    <div>
      <form action="" method="post">
        <table>
          <thead>
            <label><b>Inicia Secion</b></label>
          </thead>
          <tbody>
            <tr>
              <td><label>Usuario:</label></td>
              <td><input type="email" name="email" id="email" /></td>
            </tr>
            <tr>
              <td><label>Contraseña:</label></td>
              <td><input type="password" name="pass" id="pass" /></td>
            </tr>
            <tr>
              <td>
                  <button type="submit" id="button">Boton</button>
                  <td>
                      <label>
                          ¿Aún no tienes una cuenta? 
                          <a href="#">Registrate</a>
                      </label>
                  </td>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <script src="/App/view/js/buttonLogin.js"></script>
  </body>
</html>
