<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Singup</title>
</head>
<body>
    <div>
        <header>
            <h1>Singup</h1>
        </header>
    </div>

    <div>
        <form action="" method="post">
            <table>
                <thead>
                    <label>Singup</label>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" name="" id="" placeholder="Nombre:" required></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="" id="" placeholder="Apellidos:" required></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="" id="" placeholder="Correo:" required></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="" id="" placeholder="Contraseña:" required></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="" id="" placeholder="Nombre del puesto:" required></td>
                    </tr>
                    <tr>
                        <select name="" id="">
                            <option value=""></option>
                            <option value="">Volovanero</option>
                            <option value="">Esquitero</option>
                            <option value="">Tamalero</option>
                            <option value="">Abarrotes</option>
                            <option value="">Verdulero</option>
                        </select>
                    </tr>
                </tbody>
                <tr>
                    <td>
                        <button>Listo?</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>